.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border: 1px solid #4f005f;
  /* background: #f6dbfc; */
}

/*
  deblji borderi mogu da izazivaju "jump" u elementima
  ili moram da uzmem u obzir ovo kada namestam visinu parent elementa ili tog diva
  ili da umesto debljeg bordera namestim box-shadow inset (shadow ka unutra)
  dobija se isti efekat ali se box-shadow ne dodaje na sirinu i visinu elementa i time ne pravi taj problem
*/
.control.invalid input:focus {
  box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.75) inset;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
